<div class="info-line {{class_}}">
    <label class="info-line__label">{{name}}</label>
    <input type="text" class="info-line__input" {{#if hasValue }} value="{{ value }}"{{/if}} {{#if isDisabled }} disabled="true"{{/if}}/>
</div> 
