.info-container {
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-between;
    font-size: 1em;
} 

.info-container .info__label {    
    width: 50%;
    margin-bottom: 0;
    text-align: left;
    padding: 0.5em 0;
}

.info-container .form__text-input {
    border: none;
    padding: 0.5em 0;
    display: block;
    text-align: right;
    width: 100%;
    color: #999;
    background-color: transparent;
    font-size: 1em;
}

.info-container .form__text-input:focus{
    outline: none;
}

.container_with_padding{
    padding: 0 1em;
}