<div class="info-container container_with_padding">
    <label class="info__label">{{name}}</label>
    <input type="text" class="form__text-input form__email-input" {{#if hasValue }} value="{{ value }}"{{/if}} {{#if isDisabled }} disabled="true"{{/if}}/>
</div> 
