<div>
  <div class="leftMenu">
    <a href="/profile">Profile ></a>
    <input type="search"/>
    </div>
      {{#each chat_items}}
        {{{this}}}
      {{/each}} 
    </div>
  </div>
  <div class="message_content">
 
  </div>

