.leftMenu {
    display: flex;
    flex-direction: column;
}

.search{
    width: 290px;
    height: 2em;
    border-radius: 5px;
    border: none;
    background-color: #EFEFEF;
    text-align: center;
}

.grey-text{
    color: #999999;
}