.section-left{
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.section-left:hover{
  background-color: #e7e0e0;
}

.section-left .button_nav_left{
    width: 56px;
    height: 56px;
    border: none;
    margin: 0 3em;
    cursor: pointer;
}