@font-face {
    font-family: Inter;
    src: url(../static/Inter-VariableFont_slnt,wght.ttf);
} 

#content{
    display: flex;
    justify-content: center;
    font-family: Inter;  
    color: #1E1E1E;
}    

*, *:before, *:after {
    box-sizing: border-box;
}

.header{
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}

.error{
    color: #FF2F2F;
}

.underlined{
    border-bottom: 1px solid #eaeaea;
}

.text_left{
    text-align: left;
}